<% if profile_signed_in? %>
  <span>Здравствуйте, <%= link_to current_profile.email, profiles_path %></span>
  <%= link_to 'Выйти', destroy_profile_session_path, :method => :delete %>
<% else %>
  <%= link_to 'Войти', new_profile_session_path %> или <%= link_to 'Зарегистрироваться', new_profile_registration_path %>
<% end %>
