.wrapper
  margin: 0 auto
  padding: 20px
  position: relative
  width: 800px

  .menu
    +clearfix
    background-color: #ccc
    width: 810px
    margin: 0 0 30px

    ul
      +clearfix

      li
        float: left
        margin: 5px 5%

a
  color: #06c
  text-decoration: none

.simple_form
  abbr
    color: red
    cursor: help

table
  margin: 20px
  border: 1px solid #000
  border-collapse:collapse

  td, th
    vertical-align: middle
    text-align: center
    border: 1px solid #000
    border-collapse: collapse
    padding: 5px

.fixed_left_menu
  border: 1px solid #ccc
  left: 20px
  position: fixed
  top: 100px

  ul
    li
      font-size: 20px
      margin: 5px
      padding: 3px
      text-align: center

      &:hover
        background-color: grey

        a
          color: white

select, label, form
  font-size: 20px

  .loading,
  .ok
    display: none

label
  margin: 0 10px 0

.input
  margin: 10px 0

b
  font-weight: bold

.game_comment
  label
    float: left
